.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_container {
  max-width: 1440px;
  display: grid;
  justify-content: center;
  margin-top: 10rem;
}

@media screen and (min-width: 768px) {
  .cards_container {
    grid-template-columns: 50% 50%;
    margin-top: 7rem;
  }
}

@media screen and (min-width: 1024px) {
  .cards_container {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
}

@media screen and (min-width: 1440px) {
  .cards_container {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
